[data]
scratch = data directory e.g. <C:\user\compontwitter\data\>
mains = path to file with accounts and filter keywords e.g. <C:\user\compontwitter\data\main_accounts.csv>

[keys]
key = 
secret = 
access = 
accesssecret = 
